<% cat = @cat %>
<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update cat!" : "Create cat!" %>


<form action=<%=action_url%> method="POST">
<input type="hidden" name="_method" value=<%=form_method%>>

<label for="cat_name">Name: </label>
<input type="text" id="cat_name" name="cat[name]" value= <%= cat.name %>>
<br>
<br>

<label>Sex: </label>
<input type="radio" name="cat[sex]" id="cat_sex_female" value="F"
  checked = <%= cat.sex == "F" %> >
<label for="cat_sex_female">Female</label>

<input type="radio" name="cat[sex]" id="cat_sex_male" value="M"
  checked = <%= cat.sex == "M" %> >
<label for="cat_sex_male">Male</label>
<br>
<br>

<label for="cat_birth_date">Cat Birth Date</label>
<input type="date" name="cat[birth_date]" id="cat_birth_date"
        value= <%= cat.birth_date %> >
<br>
<br>

<label for="cat_color">Color: </label>
<select name="cat[color]" id="cat_color">
  <option selected=<%= cat.color == "white" %> value="white">White</option>
  <option selected=<%= cat.color == "black" %> value="black">Black</option>
  <option selected=<%= cat.color == "orange" %> value="option">Orange</option>
  <option selected=<%= cat.color == "gray" %> value="gray">Gray</option>
</select>
<br>
<br>

<label for="cat_description">Cat Biography:</label>
<textarea name="cat[description]" id="cat_description" value=cat.description>
<%= cat.description %></textarea>
<br>

<input type='submit' value=<%= submit_text %>>

</form>
